/*
Theme Name: Blur-Up-Demo
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #444;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bree Serif', serif;
}

a {
    color: #0d8bf2;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
}

#header {
    padding: 12px;
    text-align: center;
    margin-bottom: 60px;
}

#header a {
    color: #ff9800;
    display: inline-block;
    margin-bottom: 12px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
}

#posts .post {
    width: 50%;
    padding: 24px 12px;  
    flex: 0 0 auto;
}

#posts .post h2{
    color: #ff9800
}

#posts .post p{
    color: #444;
}

#posts .post img {
    width: 100%;
}

#main .meta{
    text-align: center;
    position: relative;
    margin-top: 44px;
}

#main .meta .thumb {
    width: 100%;
    max-width: 500px;
}

#main .meta .thumb img {
    width: 100%;
}

#main .meta h2 {
    position: absolute;
    top: 50%;
    width: calc(100% - 600px);
    transform: translate(0,-50%);
    left: 400px;
    background: #ff9800;
    padding: 12px;
    color: #fff;
}

#main .content {
    line-height: 140%;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

#main .content p {
    margin: 24px 0;
}

footer {
    width: 100%;
    background: #ff5722;
    text-align: center;
    color: #fff;
    padding: 24px 0;
    margin-top: 60px;
}

footer a {
    color: inherit;
}